<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Angular Setup</title>
</head>

<body ng-app="playerApp" ng-controller="playerCtrl">
    <div ng-repeat="kill in player.kills">
        <h1>{{kill.handle}}</h1>
        <h3>{{kill.rank}}</h3>
        <div ng-repeat="clan in kill.clan">
            <p>{{clan}}</p>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>
    <script type="text/javascript" src="main.js"></script>
</body>

</html>