body {
    background: #111 url(yoda.jpg) no-repeat fixed center center;
    background-size: contain;
}

div.blurb {
    position: fixed;
    top: 20%;
    right: 10%;
    background-color: rgba(0, 0, 0, 0.7);
    height: 30%;
    width: 30%;
    border-radius: 50%;
}

p {
    color: white;
    position: absolute;
    top: 25%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
}

input.form-control {
    position: fixed;
    bottom: 48px;
    left: 48px;
    width: 288px;
}
button {
    position: fixed;
    bottom: 48px;
    left: 348px;
}