@import url(https://fonts.googleapis.com/css?family=Architects+Daughter);
body {
    background-image: url(contemporary_china.png);
}
h1 {
    font-family: 'Architects Daughter', sans-serif;
    color: #293A7F;
    display: block;
    margin: 32px auto;
    text-align: center;
    padding-bottom: 10px;
}

main {
    width: 200px;
    display: block;
    margin: 0 auto;
    border: 3px solid #293A7F;
    padding: 20px;
    border-radius: 5px;
    background-image: url(linedpaper.png);
}

span{
    font-family: 'Architects Daughter', sans-serif;
    padding: 5px;
    color: #293A7F;
    
}

.shoppingList {
    max-height: 500px;
    overflow-y: scroll;
}