/* Decepticon Styles */

div.decepticon {
    position: fixed !important;
    position: absolute;
    top: 64px;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(../../images/decepticon-wallpaper.jpg) no-repeat center center fixed;
    background-size: cover;
    z-index: -1;
}

h2.botName.d {
    font-family: 'decepticon', sans-serif;
}