h1 {
    text-align: center;
}

article, aside {
    float: left;
}

article {
    width: 35%;
}

img {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
ul {
    list-style-type: none;
}
li {
    text-align: center;
    margin: 3em;
    font-size: 1.5em;
}